<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>Back to search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fixed-height">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6"></ion-col>
            <ion-col size="6"></ion-col>
        </ion-row>
    </ion-grid>
    <!-- <div class="img-wrapper">
        <ion-img class="qr-code" [src]="'assets/img/qrcode.svg'"></ion-img>
    </div> -->
</ion-content>
