@import '../../../global.scss';

.job-title {
    font-weight: 700;
    font-size: 25px;
    padding: 6px;
    color: var(--primary-color);
    border-radius: 5px;
}

.company-logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-extern {
    padding: 6px;
}
