<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>Back to search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fixed-height">
    <!-- Skeleton screen -->
    <div *ngIf="!job">
        <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>

        <ion-list>
            <ion-list-header>
                <ion-label>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-skeleton-text
                    animated
                    style="width: 27px; height: 27px"
                    slot="start"
                ></ion-skeleton-text>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-grid *ngIf="job" fixed>
        <ion-row class="item-row">
            <ion-col size="3">
                <ion-row class="company-logo-wrapper">
                    <ion-img class="company-logo" [src]="job?.images[0]?.url"></ion-img>
                </ion-row>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-label class="job-title"> {{job.title}} </ion-label>
                </ion-row>
                <ion-row>
                    <ion-label>{{job.company_name}}</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label>{{job.place}}</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
