<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>Back to search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fixed-height">
    <ion-progress-bar *ngIf="!job" type="indeterminate"></ion-progress-bar>

    <ion-grid *ngIf="job" fixed>
        <ion-card>
            <ion-row>
                <ion-label class="job-title"> {{job.title}} </ion-label>
            </ion-row>
            <ion-row>
                <ion-col size="7">
                    <ion-row>
                        <ion-label>{{job.company_name}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label>{{job.zipcode}} {{job.place}}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-chip>
                        <ion-label>{{pensum}}</ion-label>
                    </ion-chip>
                    <ion-chip>
                        <ion-label>{{job.initial_publication_date | date: "dd.MM.yyyy"}}</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card padding>
            <div class="text-extern" innerHTML="{{job.template_lead_text}}"></div>
        </ion-card>
        <ion-card padding>
            <div class="text-extern" innerHTML="{{job.template_text}}"></div>
        </ion-card>
    </ion-grid>
</ion-content>
