<ion-header>
    <ion-toolbar>
        <ion-title>Job List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="jobs" approxItemHeight="150px">
        <ion-card
            *virtualItem="let job;"
            [routerLinkActive]
            [routerLink]="job.job_id"
            routerDirection="forward"
        >
            <ion-grid fixed>
                <ion-row class="item-row">
                    <ion-col size="3">
                        <ion-row
                            class="
                                ion-justify-content-center ion-align-items-center
                                company-logo-wrapper
                            "
                        >
                            <ion-img class="company-logo" [src]="job.images[0].url"></ion-img>
                        </ion-row>
                    </ion-col>
                    <ion-col size="9">
                        <ion-row>
                            <ion-label class="job-title"> {{job.title}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label>{{job.company_name}}</ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label>{{job.place}}</ion-label>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-virtual-scroll>
    <ion-list> </ion-list>
</ion-content>
