<ion-header>
    <ion-toolbar>
        <ion-title>Job List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="jobs" approxItemHeight="100px">
        <ion-card *virtualItem="let job;">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="3">
                        <div class="wrapper-company-logo">
                            <ion-img [src]="job.images[0].url"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="9">
                        <ion-row>
                            <ion-label class="job-title"> {{job.title}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label>{{job.company_name}}</ion-label>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-virtual-scroll>
    <ion-list> </ion-list>
</ion-content>
