@import '../../../global.scss';

.job-title {
    font-weight: 700;
    padding: 6px;
    padding-left: 0;
    color: var(--primary-color);
    border-radius: 5px;
}

.company-logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

ion-content {
    --background: rgba(255, 136, 0, 0.801);
}
